.header {
  align-items: center;
  display: flex;
  height: 70px;
  justify-content: space-between;
  margin: auto 30px;
}

.startElement {
  align-items: center;
  display: flex;
  justify-content: stretch;
  width: 45%;
  gap: 15px;
}

.backPage {
  cursor: pointer;
  width: 25px;
  background-color: black;
  padding: 5px;
  border-radius: 50px;
}

.backPage > i {
  color: rgba(255, 255, 255, 0.687);
  font-size: 23px;
}

.searchContent {
  flex-basis: 90%;
}

.labelHeader > input {
  background-color: white;
  border-radius: 15pt;
  color: black;
  font-size: 16px;
  height: 35px;
  padding-left: 10px;
  width: 100%;
}

.labelHeader > input::placeholder {
  font-size: 15px;
}

.profile {
  align-items: center;
  background-color: black;
  border-radius: 50px;
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  height: 25px;
  padding: 5px 10px 5px 5px;
  width: fit-content;
  font-size: 14px;
  font-weight: 800;
}

.profile * {
  cursor: pointer;
}

.profile > i {
  font-size: 28px;
}

ul {
  display: inline;
}
