.editProfileForm {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
  margin: auto;
  align-items: center;
}

.editProfileForm > label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

.editProfileForm > label > input {
  color: white;
}
