.App {
  text-align: center;
}

.mainContainer {
  display: flex;
  background-color: rgb(10, 10, 10);
  justify-content: stretch;
  height: 100vh;
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
  background-color: black;
}

.mainContent {
  flex-basis: 80%;
  background-color: var(--black-spotify);
  height: 100%;
  overflow: scroll;
}
